<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beautytiger.tao.mapper.ProductMapper">

    <select id="findById" resultType="Product" parameterType="Long">
   select * from product where pid=#{pid};
  </select>

    <select id="findAll" resultType="Product">
   select * from product;
  </select>

    <insert id="addProduct" parameterType="Product">
   INSERT INTO product(product_name, product_price) VALUES(#{productName}, #{productPrice});
  </insert>

</mapper>