<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beautytiger.tao.mapper.CartMapper">

    <select id="findById" resultType="Cart" parameterType="Long">
   select * from taocart where id=#{id};
  </select>

    <select id="findByUser" resultType="Cart" parameterType="Long">
   select * from taocart where user_id=#{userId} order by id desc;
  </select>

    <insert id="add" parameterType="Long">
   INSERT INTO taocart(user_id, product_id, create_at, `status`) VALUES(#{userId}, #{productId}, now(), 0);
  </insert>

    <update id="delete" parameterType="Long">
   update taocart set `status`=1 where id=#{id};
  </update>

    <update id="buy" parameterType="Long">
   update taocart set `status`=2 where id=#{id};
  </update>

</mapper>